<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>阿医达-后台管理-www.ayida.cn</title>
    
</head>
<body class="easyui-layout" style="overflow-y: hidden"  scroll="no">
	<form action="${base}/admin/hotword/update.do" method="POST">
		<input type="hidden" value="${word.id!}" name="id"/>
		<input type="hidden" value="${word.parentId!}" name="parentId"/>
		热词名：<input type="text" name="name" value="${word.name!}"/>
		子热词：<input type="text" name="childName" value='<#list childs as c>${c.name!} </#list>'/>
		</br>
		<input type="submit" value="修改"/>
	</form>
</body>
</html>