<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="CONTENT-TYPE" content="text/html" charset="utf-8">
    <meta name="keywords" content="阿医达收藏,找医生，医生搜索，附近医生">
    <link href="${base}/static/front/css/collect.css" type="text/css" rel="stylesheet" media="all">
    <link href="${base}/static/front/css/result02.css" type="text/css" rel="stylesheet" media="all">
    <link href="${base}/static/front/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="short icon" href="${base}/static/front/Image/short.png">
    <script type="text/javascript" src="${base}/static/front/js/jquery.min.js"></script>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="${base}/static/front/js/result.js"></script>
    <title>阿医达--我的收藏</title>
    <style type="text/css">
    	body {
			background-color: #afe2ff;
		}
    </style>
    <script type="text/javascript">
	    function cancelCollect(doctorId) {
	    	var userId = "${user.id!}";
			$.ajax({
				url : "${base}/api/member/doctorCollection.jspx", 
				type : "POST", 
				dataType : "JSON", 
				data : {"userId" : userId, 
					"doctorId" : doctorId, 
					"collect" : false},
				success : function(data) {
					var result;
					if (typeof (data) == "object"
							&& Object.prototype.toString.call(data)
									.toLowerCase() == "[object object]"
							&& !data.length) {
						result = data;
					} else {
						result = eval("(" + data + ")");
					}
					if (200 == result.code)
						location.reload();
				}
			});
	    }
    </script>
</head>
<body>
<input type="hidden" name="pageNo" value="${page.pageNo!}"/>
<input type="hidden" name="pageSize" value="${page.pageSize!}"/>
<input type="hidden" name="query" value="${query!}"/>
<input type="hidden" name="cityName" value="${cityName!}"/>
<input type="hidden" name="longitude" value="${longitude!}"/>
<input type="hidden" name="latitude" value="${latitude!}"/>
<#if user??>
	<input type="hidden" name="userId" value="${user.id!}"/>
	<#else>
	<input type="hidden" name="userId" value=""/>
</#if>
    <div class="body01">
    <div class="header01 ">
        <div class="header04">
            <a href="${base}/">
	            <img src="${base}/static/front/Image/logo.png" style="padding-right: 10px">
	            <div class="header02"></div>
            	<span class="header03">首页</span>
            </a>
        </div>
        <div class="header05">
            <span class="header06">${user.username!}</span>
             <a href="${base}/api/member/logout.jspx"><span class="header07">退出帐号</span></a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="body01">
        <#if page??>
    	<#list page.results as result>
    <div class="body-bg04"></div>
    <div class="body-bg03" id="body_bg03_${result.id!}">
        <div class="top-div">
            <table>
                <tr>
                    <td>
                        <img src="${base}/static/front/Image/header.png" style="border-radius:50%;" class="body-header"/>
                        <#if 0 == result.gender>
                        	<img src="${base}/static/front/Image/man.png" class="body-people">
                        	<#else>
                        	<img src="${base}/static/front/Image/girl.png" class="body-people">
                        </#if>
                    </td>
                </tr>
                <tr class="body-font">
                    <td class="body-font">
                        <span >${result.name!}</span>&emsp;&emsp;
                        <span>${result.department.name!}</span>
                    </td>
                </tr>
                <tr>
                    <td class="body-font02">
                        <span>${result.doctorExt.job!}</span>&emsp;|&emsp;
                        <span>
                        	<#assign t=result.doctorExt.professionalTitles>
                        	<#if 0==t>
                        		无职称
                        	<#elseif 1==t>
                        		医师
                        	<#elseif 2==t>
                        		主治医师
                        	<#elseif 3==t>
                        		副主任医生
                        	<#elseif 4==t>
                        		主任医生
                        	</#if>
                        </span>
                    </td>
                </tr>
                <tr >
                    <td>
                        <section class="container02">
                        	<input id="collect_${result.id!}" onclick="cancelCollect(${result.id!});" 
                        	type="button" class="btn02 btn-round color-2 material-design" ata-color="#ffffff" value='取消收藏'/>
                        </section>
                    </td>
               	 </tr>
            	</table>
       	</div>
        <div class="top-div left-100" id="time01">
                 <table border="1px" width="600px" align="center" style="border-color: #cccccc;table-layout:fixed">
                     <caption>坐诊时间
                         <div class="contain">
                             <div class="line"></div>
                         </div>
                     </caption>
                     <tr>
                         <td></td>
                         <td>一</td>
                         <td>二</td>
                         <td>三</td>
                         <td>四</td>
                         <td>五</td>
                         <td>六</td>
                         <td>日</td>
                     </tr>
                     <!-- 处理坐诊时间 -->
                     	<#assign index=1/>
                     	<#list result.doctorExt.seeTime?split(";") as time>
                     		<#assign weeks=time?split(":")[1]/>
                     		<#list weeks?split(",") as week>
                     			<#assign weekday=week?split("|")[0]>
                     			<#assign t=week?split("|")[1]>
                     			<#list t?split("&") as t_time>
                     				<script type="text/javascript">
								    	$(document).ready(function() {
								    		var t_time = "${t_time!}";
								    		var weekday = "${weekday!}";
								    		if ("周一" == weekday && "上午" == t_time)
								    			$("#morning_${result.id!} td:eq(1)").append('<img src="${base}/static/front/Image/${index}.png" class="img-size">');
								    		else if ("周一" == weekday && "下午" == t_time)
								    			$("#afternoon_${result.id!} td:eq(1)").append('<img src="${base}/static/front/Image/${index}.png" class="img-size">');
								    		else if ("周二" == weekday && "上午" == t_time)
								    			$("#morning_${result.id!} td:eq(2)").append('<img src="${base}/static/front/Image/${index}.png" class="img-size">');
								    		else if ("周二" == weekday && "下午" == t_time)
								    			$("#afternoon_${result.id!} td:eq(2)").append('<img src="${base}/static/front/Image/${index}.png" class="img-size">');
								    		else if ("周三" == weekday && "上午" == t_time)
								    			$("#morning_${result.id!} td:eq(3)").append('<img src="${base}/static/front/Image/${index}.png" class="img-size">');
								    		else if ("周三" == weekday && "下午" == t_time)
								    			$("#afternoon_${result.id!} td:eq(3)").append('<img src="${base}/static/front/Image/${index}.png" class="img-size">');
								    		else if ("周四" == weekday && "上午" == t_time)
								    			$("#morning_${result.id!} td:eq(4)").append('<img src="${base}/static/front/Image/${index}.png" class="img-size">');
								    		else if ("周四" == weekday && "下午" == t_time)
								    			$("#afternoon_${result.id!} td:eq(4)").append('<img src="${base}/static/front/Image/${index}.png" class="img-size">');
								    		else if ("周五" == weekday && "上午" == t_time)
								    			$("#morning_${result.id!} td:eq(5)").append('<img src="${base}/static/front/Image/${index}.png" class="img-size">');
								    		else if ("周五" == weekday && "下午" == t_time)
								    			$("#afternoon_${result.id!} td:eq(5)").append('<img src="${base}/static/front/Image/${index}.png" class="img-size">');
								    		else if ("周六" == weekday && "上午" == t_time)
								    			$("#morning_${result.id!} td:eq(6)").append('<img src="${base}/static/front/Image/${index}.png" class="img-size">');
								    		else if ("周六" == weekday && "下午" == t_time)
								    			$("#afternoon_${result.id!} td:eq(6)").append('<img src="${base}/static/front/Image/${index}.png" class="img-size">');
								    		else if ("周日" == weekday && "上午" == t_time)
								    			$("#morning_${result.id!} td:eq(7)").append('<img src="${base}/static/front/Image/${index}.png" class="img-size">');
								    		else if ("周日" == weekday && "下午" == t_time)
								    			$("#afternoon_${result.id!} td:eq(7)").append('<img src="${base}/static/front/Image/${index}.png" class="img-size">');
								    	});
								   </script>
                     			</#list>
                     		</#list>
						    <#assign index=index+1/>
	                 	 </#list>
                     <tr id="morning_${result.id!}">
                         <td>上午</td>
                         <td></td>
                         <td></td>
                         <td></td>
                         <td></td>
                         <td></td>
                         <td></td>
                         <td></td>
                     </tr>
                     <tr id="afternoon_${result.id!}">
                         <td>下午</td>
                         <td></td>
                         <td></td>
                         <td></td>
                         <td></td>
                         <td></td>
                         <td></td>
                         <td></td>
                     </tr>
                 </table>
                 <div>
                     <div style="margin-top: 5px">
                         <span class="bz">备注:</span>
                     </div>
                         <div class="top-div">
                             <ul>
                             	<#assign n=1/>
			                 	<#list result.doctorExt.seeTime?split(";") as time>
			                 	<#assign name=time?split(":")[0]/>
				                 	<li>
	                                     <img src="${base}/static/front/Image/${n}.png" class="img-size">&emsp;<span>${name!}</span>
	                                 </li>
				                 <#assign n=n+1/>
			                 	</#list>
                             </ul>
                         </div>
             		</div>
	        </div>
	    <div class="skilled">
                 	擅长领域
                     <div class="contain03">
                         <div class="line03"></div>
                     </div>
		            <ul>
			            <#list result.doctorExt.skilledField?split(";") as skilled>
		                 	<#if skilled_index gt 3>
		                  		<#break>
		                  	</#if>
		                 	<li class="body-fon04">${skilled!}</li>
		                 </#list>
		                 <li>
		                 	<!-- 该隐藏标签不能去掉，用以做条件判断 -->
		        			<input type="hidden" value="1" id="key_${result.id!}"/>
		                 	<input type="button" id="more_button_${result.id!}" class="btn02 btn-round color-3 material-design"
		                 	 data-color="#ffffff" value="更多信息>>" onclick="expreadInfo(${result.id!});"/>
		                 </li>
		            </ul>
        </div>
       	<div style="clear: both;"></div>
        <div style="display: none;" id="more_info_${result.id!}" class="more_introduction">
            <div>
            	<ul>
            		<li data-tag="p" id="tag_1_${result.id!}" class="on" onclick="moreInfo(${result.id!}, 'tag_', 1, 3);"><img class="p" src="${base}/static/front/Image/headBlue.png"><span>个人介绍</span></li>
            		<li data-tag="d" id="tag_2_${result.id!}" class="left_20" onclick="moreInfo(${result.id!}, 'tag_', 2, 3);"><img class="d" src="${base}/static/front/Image/keshiGrey.png"><span>科室介绍</span></li>
            		<li data-tag="h" id="tag_3_${result.id!}" class="left_20" onclick="moreInfo(${result.id!}, 'tag_', 3, 3);"><img class="h" src="${base}/static/front/Image/houseGrey.png"><span>所在医院介绍</span></li>
            	</ul>
            </div>
            <div style="clear:both;"></div>
            <div class="cont_intro_p" style="display: block;">
                <div>
                    <p style="font-size: 16px; padding: 20px 40px;text-indent: 2em">
                       ${result.doctorExt.description!}
                    </p>
                </div>
            </div>
            <div class="cont_intro_d" style="display: none;">
                <div>
                    <p style="font-size: 16px; padding: 20px 40px;text-indent: 2em">
                        ${result.department.description!}
                    </p>
                </div>
            </div>
            <div class="cont_intro_h" style="display: none;">
                <div>
                    <p style="font-size: 16px; padding: 20px 40px;text-indent: 2em">
                        	<#list result.hospitals as h>
                        		${h.name!}：${h.desc!}
                        	</#list>			
                    </p>
                </div>
            </div>
     </div>
 	</div>
	 	</#list>
	</#if>
	<input type="hidden" value="${base}" name="base"/>
   </div>
</body>
</html>